@page
@using Papermail.Web.Models
@model Papermail.Web.Pages.DeletedModel
@{
    ViewData["Title"] = "Deleted Items";
    var listModel = new EmailListViewModel
    {
        Items = Model.Items,
        FolderName = Model.FolderName,
        CurrentPage = Model.CurrentPage,
        PageSize = Model.PageSize,
        SortDirection = Model.SortDirection,
        TotalPages = Model.TotalPages,
        PageUrl = "/deleted"
    };
}

<div class="flex h-full w-full">
    @await Html.PartialAsync("_Aside")
    @await Html.PartialAsync("_List", listModel)
</div>