@page
@model Papermail.Web.Pages.DraftsModel
@{
    ViewData["Title"] = "Drafts";
}

<div class="flex h-full">
    @await Html.PartialAsync("_Aside")
    
    <section class="flex-1 px-6 py-6 overflow-auto">
        <h1 class="text-2xl font-bold mb-4 border-b-2 border-eink-black pb-2">Drafts</h1>
        @await Html.PartialAsync("_List", Model.Items)
    </section>
</div>
