<div class="flex-1 overflow-auto">
    <table class="w-full text-left border-collapse">
        <thead class="bg-white sticky top-0 z-10">
            <tr class="border-b-4 border-slate-950 text-sm uppercase tracking-wide">
                <th class="p-4 font-black w-1/4">From</th>
                <th class="p-4 font-black w-1/2">Subject</th>
                <th class="p-4 font-black w-1/4 text-right">Received</th>
            </tr>
        </thead>

        <tbody class="divide-y-2 divide-slate-200">
            <tr class="hover:bg-blue-50 cursor-pointer group">
                <td class="p-4 font-bold text-blue-800 group-hover:text-blue-900">
                    Alice Freeman
                </td>
                <td class="p-4 font-bold text-slate-900">
                    Project Update: Q4 Goals
                </td>
                <td class="p-4 text-right font-bold text-slate-900">
                    10:42 AM
                </td>
            </tr>

            <tr class="hover:bg-slate-100 cursor-pointer">
                <td class="p-4 text-slate-700">
                    SaaS Newsletter
                </td>
                <td class="p-4 text-slate-600">
                    Weekly roundup: The state of CSS
                </td>
                <td class="p-4 text-right text-slate-500">
                    Yesterday
                </td>
            </tr>

            <tr class="hover:bg-slate-100 cursor-pointer">
                <td class="p-4 text-slate-700">
                    HR Department
                </td>
                <td class="p-4 text-slate-600">
                    Holiday Calendar Updates
                </td>
                <td class="p-4 text-right text-slate-500">
                    Oct 24
                </td>
            </tr>

            <tr class="hover:bg-slate-100 cursor-pointer">
                <td class="p-4 text-slate-700">
                    DevOps Team
                </td>
                <td class="p-4 text-slate-600">
                    [Alert] Server utilization high
                </td>
                <td class="p-4 text-right text-slate-500">
                    Oct 22
                </td>
            </tr>
        </tbody>
    </table>
</div>